body {
    text-align: center;
    font-family: sans-serif;
    background-color:#a0d2eb;
}

/* 
Ice Cold: #a0d2eb

Freeze Purple: #e5eaf5

Medium Purple: #d0bdf4

Purple Pain: #8458B3

Heavy Purple: #a28089
 */

img {
    border-radius: 50%;
    height:150px;
}

.image {
    display:flex;
    align-items: center;
    flex-direction: column;
    gap:15px;
}

#buttons {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#scores {
    display: flex;
    margin: 30px auto 0px;
    width:95%;
    justify-content: space-around;

}

#scores > div {
    background-color:#d0bdf4;
    padding: 20px;
    color:white;
}

#message {
    margin: 100px auto;
    background-color: #d0bdf4;
    padding: 50px;
    color:white;
    
}

