body {
    text-align: center;
    font-family: sans-serif;
    background-image: url('https://previews.123rf.com/images/szakalikus/szakalikus1612/szakalikus161202047/68700034-red-and-white-paint-mixing-into-pink-color-background.jpg');
}

img {
    border-radius: 50%;
    height:150px;
}

.image {
    display:flex;
    align-items: center;
    flex-direction: column;
    gap:15px;
}

#buttons {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#scores {
    display: flex;
    margin: 30px auto 0px;
    width:95%;
    justify-content: space-around;


}

#message {
    margin: 100px auto;
}